.form__block{

  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-around; */
  height: 260px;
  width: 330px;
}
p{
  font-style: 18px;
  padding: 0 10px;
}
input{
  width: 330px;
  padding: 10px;
  margin:4px 10px;
}
button{
  margin: 10px;
}
.block_p{
  background: #fff;
  border: none;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  width: 330px;
  border-radius: 4px;
}
.block_p:hover{
  background: black;
  border: none;
  padding: 10px;
  color:  #fff;
  opacity: .9;
  cursor: pointer;
}
.block_ch{
  /* width: 150px; */
  font-size: 12px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 140px;
  font-weight: 200;
}
.block_df{
  white-space: nowrap;
}