.div{
  display: block;
  margin-bottom: 40px;
}
.set{
  display: flex;
}
.inp{
  font-size: 16px;
  font-weight: 100;
  padding: 0;
  border: none;
  display: block;
  width: 100%;
}
.set .btn{
  border: none;
  background: #fff;
  cursor: pointer;
}
// .inp{
//   border: none;
//   // border-bottom: 1px solid rgba(0, 0, 0 ,0.1);
//   padding: 12px 20px;
  
//   border-radius: 12px;
//   font-size: 16px;
// }
// .btn{
//   position: relative;
//   bottom: 3px;
//   right: 25px;
//   border: none;
//   background-color: #fff;
//   font-size: large;
//   font-weight: bold;
// }
@media only screen and (max-width: 780px) {
  .inp {
    padding-left: 20px; 
  }
  hr{
    margin-left: 0px;
  }
  .cartcart{

    span,p{
      margin-left: 20px;
    }
  }
}
